@charset "UTF-8";
/* line 8, ../sass/style.scss */
body {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.05rem;
  color: #000000;
}
@media screen and (max-width: 576px) {
  /* line 8, ../sass/style.scss */
  body {
    font-size: 15px;
  }
}
/* line 18, ../sass/style.scss */
body.no-scroll {
  overflow-y: hidden;
}

/* line 23, ../sass/style.scss */
a {
  -moz-transition: 0.35s;
  -o-transition: 0.35s;
  -webkit-transition: 0.35s;
  transition: 0.35s;
}
/* line 25, ../sass/style.scss */
a:hover, a:active, a:focus {
  outline: none;
  text-decoration: none;
}

/* line 31, ../sass/style.scss */
p {
  margin-bottom: 1.5rem;
}

/* line 35, ../sass/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #000000;
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
  margin-top: 0;
  margin-bottom: 20px;
  font-weight: 700;
}

/* line 43, ../sass/style.scss */
button, input, optgroup, select, textarea {
  font-family: "Roboto", "微軟正黑體", STHeiti, arial, sans-serif;
}

/* line 47, ../sass/style.scss */
::-webkit-selection {
  color: #fff;
  background: #DC5353;
}

/* line 52, ../sass/style.scss */
::-moz-selection {
  color: #fff;
  background: #DC5353;
}

/* line 57, ../sass/style.scss */
::selection {
  color: #fff;
  background: #DC5353;
}

/* line 62, ../sass/style.scss */
#page {
  position: relative;
  width: 100%;
  overflow-x: hidden;
}
/* line 66, ../sass/style.scss */
#page .overlay {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 888;
}

/* line 79, ../sass/style.scss */
#header {
  position: relative;
  width: 100%;
  background-color: #fff;
  z-index: 99;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
/* line 86, ../sass/style.scss */
#header.fixed {
  position: fixed;
  top: 0;
}
/* line 90, ../sass/style.scss */
#header nav {
  padding-top: 0;
  padding-bottom: 0;
}
/* line 94, ../sass/style.scss */
#header nav .logo a {
  display: block;
}
/* line 96, ../sass/style.scss */
#header nav .logo a img {
  max-width: 100%;
  height: 55px;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 104, ../sass/style.scss */
#header nav .navbar-nav ul {
  padding: 0;
  margin: 0;
}
/* line 108, ../sass/style.scss */
#header nav .navbar-nav li {
  list-style: none;
}
/* line 110, ../sass/style.scss */
#header nav .navbar-nav li a {
  text-align: center;
  color: #454545;
}
/* line 116, ../sass/style.scss */
#header nav #language {
  padding-left: 0.8rem;
}
/* line 118, ../sass/style.scss */
#header nav #language .btn {
  padding: 3px 9px;
  background-color: #fff;
  border: 1px solid rgba(69, 69, 69, 0.5);
  font-size: 14px;
  -webkit-box-shadow: 2px 3px 8px rgba(17, 83, 140, 0.15);
  box-shadow: 2px 3px 8px rgba(17, 83, 140, 0.15);
  color: #454545;
}
/* line 126, ../sass/style.scss */
#header nav #language .btn .iconify {
  margin-right: 1px;
  color: #11538C;
}
/* line 130, ../sass/style.scss */
#header nav #language .btn:hover, #header nav #language .btn:active {
  color: #000000;
  -webkit-box-shadow: 2px 3px 8px rgba(17, 83, 140, 0.35);
  box-shadow: 2px 3px 8px rgba(17, 83, 140, 0.35);
}
/* line 137, ../sass/style.scss */
#header nav .menu {
  display: none;
  padding: 0;
  z-index: 9999;
  cursor: pointer;
}
/* line 142, ../sass/style.scss */
#header nav .menu .burger {
  position: relative;
  width: 26px;
  height: 50px;
  z-index: 1001;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
/* line 149, ../sass/style.scss */
#header nav .menu .burger span {
  display: block;
  position: absolute;
  height: 3px;
  width: 100%;
  background: #3E8ACA;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
/* line 160, ../sass/style.scss */
#header nav .menu .burger span:nth-child(1) {
  top: 15px;
}
/* line 163, ../sass/style.scss */
#header nav .menu .burger span:nth-child(2) {
  top: 22px;
}
/* line 166, ../sass/style.scss */
#header nav .menu .burger span:nth-child(3) {
  top: 29px;
}
/* line 172, ../sass/style.scss */
#header nav .menu .active span {
  background: #fff;
}
/* line 174, ../sass/style.scss */
#header nav .menu .active span:nth-child(1) {
  top: 24px;
  -moz-transform: rotate(135deg);
  -ms-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}
/* line 178, ../sass/style.scss */
#header nav .menu .active span:nth-child(2) {
  opacity: 0;
  left: -200px;
}
/* line 182, ../sass/style.scss */
#header nav .menu .active span:nth-child(3) {
  top: 24px;
  -moz-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
}
@media screen and (min-width: 992px) {
  /* line 193, ../sass/style.scss */
  #header nav .navbar-nav li {
    padding: 0 0.5rem;
  }
  /* line 195, ../sass/style.scss */
  #header nav .navbar-nav li a {
    text-align: center;
    font-weight: normal;
    padding: 0 0.25rem;
  }
  /* line 200, ../sass/style.scss */
  #header nav .navbar-nav li.social {
    display: none;
  }
  /* line 205, ../sass/style.scss */
  #header nav .navbar-nav li a {
    position: relative;
    display: inline-block;
  }
  /* line 208, ../sass/style.scss */
  #header nav .navbar-nav li a:after {
    content: "";
    display: block;
    border-bottom: solid 1px #3E8ACA;
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -moz-transition: -moz-transform 250ms ease-in-out;
    -o-transition: -o-transform 250ms ease-in-out;
    -webkit-transition: -webkit-transform 250ms ease-in-out;
    transition: transform 250ms ease-in-out;
    background-color: #3E8ACA;
  }
  /* line 216, ../sass/style.scss */
  #header nav .navbar-nav li a:hover, #header nav .navbar-nav li a:active, #header nav .navbar-nav li a:focus {
    color: #3E8ACA;
  }
  /* line 218, ../sass/style.scss */
  #header nav .navbar-nav li a:hover:after, #header nav .navbar-nav li a:active:after, #header nav .navbar-nav li a:focus:after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
    -moz-transform-origin: 0% 50%;
    -ms-transform-origin: 0% 50%;
    -webkit-transform-origin: 0% 50%;
    transform-origin: 0% 50%;
  }
  /* line 225, ../sass/style.scss */
  #header nav .navbar-nav li.active a {
    color: #3E8ACA;
  }
  /* line 227, ../sass/style.scss */
  #header nav .navbar-nav li.active a:after {
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
  }
  /* line 239, ../sass/style.scss */
  #header.fixed nav .logo a img {
    height: 50px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 250, ../sass/style.scss */
  #header nav .navbar-nav li {
    padding: 0 0.8rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 260, ../sass/style.scss */
  #header nav .logo a img {
    height: 45px;
  }
  /* line 270, ../sass/style.scss */
  #header.fixed nav .logo a img {
    height: 38px;
  }
  /* line 276, ../sass/style.scss */
  #header.fixed nav .menu .burger {
    height: 45px;
  }
  /* line 282, ../sass/style.scss */
  #header .offcanvas-collapse {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    visibility: hidden;
    background-color: #3E8ACA;
    transition-timing-function: ease-in-out;
    transition-duration: .3s;
    transition-property: left, visibility;
  }
  /* line 294, ../sass/style.scss */
  #header .offcanvas-collapse.open {
    left: 20%;
    visibility: visible;
    z-index: 999;
  }
  /* line 299, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav {
    position: relative;
  }
  /* line 301, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus {
    padding: 2.5rem 0;
  }
  /* line 303, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li {
    margin-bottom: 0.5rem;
  }
  /* line 305, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:hover {
    background-color: #11538C;
  }
  /* line 310, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:not(.social) a {
    padding: 0.5rem 2.75rem;
    font-size: 18px;
    color: #fff !important;
    text-align: left;
  }
  /* line 315, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:not(.social) a.nav-link {
    font-weight: bolder;
    letter-spacing: 0.25rem;
  }
  /* line 318, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:not(.social) a.nav-link i {
    display: none;
  }
  /* line 323, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li:not(.social).active {
    background-color: #11538C;
  }
  /* line 327, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li {
    width: 100%;
  }
  /* line 329, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social {
    margin-top: 15px;
    margin-bottom: 0;
  }
  /* line 332, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social li {
    display: inline-block;
    width: 40px;
    text-align: center;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }
  /* line 337, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social li:not(:first-of-type) {
    margin-left: 30px;
  }
  /* line 341, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social li a img {
    width: 100%;
  }
  /* line 344, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social li a:hover {
    opacity: 0.8;
  }
  /* line 349, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social:hover {
    background-color: transparent;
  }
  /* line 351, ../sass/style.scss */
  #header .offcanvas-collapse .navbar-nav.menus li.social:hover li {
    background-color: transparent;
  }
  /* line 360, ../sass/style.scss */
  #header #language {
    height: 30px;
    padding-left: 0;
    margin-right: 25px;
  }
  /* line 365, ../sass/style.scss */
  #header .menu {
    display: block !important;
  }
}
@media screen and (max-width: 320px) {
  /* line 373, ../sass/style.scss */
  #header nav .logo a img {
    height: 40px;
  }
  /* line 379, ../sass/style.scss */
  #header #language {
    margin-right: 18px;
  }
  /* line 381, ../sass/style.scss */
  #header #language .btn {
    font-size: 12px;
  }
}

/* line 388, ../sass/style.scss */
.img {
  position: relative;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* line 393, ../sass/style.scss */
.img:before {
  content: "";
  display: block;
  padding-bottom: 60%;
}

/* line 399, ../sass/style.scss */
.title {
  margin-bottom: 1.05rem;
  color: #454545;
  line-height: 1.6;
  letter-spacing: 0.1rem;
  text-align: center;
  font-weight: bold;
}
/* line 406, ../sass/style.scss */
.title.title-set {
  margin-bottom: 50px;
}
/* line 408, ../sass/style.scss */
.title.title-set h2 {
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
}
/* line 412, ../sass/style.scss */
.title.title-set p {
  margin-bottom: 0;
  color: #3E8ACA;
  text-transform: capitalize;
  font-size: 0.95rem;
}
@media screen and (max-width: 767px) {
  /* line 420, ../sass/style.scss */
  .title.title-set {
    margin-bottom: 30px;
  }
}

/* line 425, ../sass/style.scss */
.btn {
  width: auto;
  padding: 8px 20px;
  font-size: 0.95rem;
  text-decoration: none;
  cursor: pointer;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
/* line 433, ../sass/style.scss */
.btn.btn-sm {
  padding: 5px 15px;
  font-size: 0.825rem;
}
/* line 437, ../sass/style.scss */
.btn:hover {
  text-decoration: none;
}

/* line 441, ../sass/style.scss */
.btn-primary {
  background-color: #FFEC44;
  border-color: transparent;
  color: #454545;
  font-weight: bolder;
}
/* line 446, ../sass/style.scss */
.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: #ffe92a;
  border-color: transparent;
  color: #454545;
}
/* line 451, ../sass/style.scss */
.btn-primary.disabled {
  background-color: #fff177;
}
/* line 453, ../sass/style.scss */
.btn-primary.disabled:hover, .btn-primary.disabled:focus, .btn-primary.disabled:active {
  background-color: #fff177;
}

/* line 458, ../sass/style.scss */
.btn-white {
  background-color: #fff;
  border-color: #fff;
  color: #3E8ACA;
}
/* line 462, ../sass/style.scss */
.btn-white:hover, .btn-white:focus, .btn-white:active {
  background-color: #2e70a7;
  border-color: #2e70a7;
  color: #fff;
}

/* line 468, ../sass/style.scss */
.btn-outline {
  background-color: transparent;
  border-color: #3E8ACA;
  color: #3E8ACA;
  border-width: 2px;
}
/* line 473, ../sass/style.scss */
.btn-outline:hover, .btn-outline:focus, .btn-outline:active {
  background-color: #3E8ACA;
  border-color: #3E8ACA;
  color: #fff;
}

/* line 481, ../sass/style.scss */
#main section {
  position: relative;
  padding: 3.125rem 0;
}
/* line 485, ../sass/style.scss */
#main #breadcrumb {
  background: #11538C;
}
/* line 487, ../sass/style.scss */
#main #breadcrumb .breadcrumb {
  padding: 8px 0;
  margin-bottom: 0;
  background: transparent;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}
/* line 492, ../sass/style.scss */
#main #breadcrumb .breadcrumb li {
  font-size: 0.75rem;
}
/* line 494, ../sass/style.scss */
#main #breadcrumb .breadcrumb li a {
  color: #fff;
}
/* line 497, ../sass/style.scss */
#main #breadcrumb .breadcrumb li.active {
  color: #FFEC44;
}
/* line 502, ../sass/style.scss */
#main #breadcrumb .breadcrumb .breadcrumb-item + .breadcrumb-item:before {
  content: "›";
  padding-right: 0.25rem;
  color: #fff;
}
/* line 510, ../sass/style.scss */
#main .more {
  color: #fff;
  font-size: 0.85rem;
  font-weight: bold;
}
/* line 514, ../sass/style.scss */
#main .more .iconify {
  margin-right: 5px;
}
/* line 518, ../sass/style.scss */
#main .main-bg {
  position: relative;
  background-color: #3E8ACA;
}
/* line 522, ../sass/style.scss */
#main .gray-bg {
  position: relative;
  background-color: #f8f8f8;
}
/* line 526, ../sass/style.scss */
#main .pagination {
  margin: 1.5rem 0 0;
}
/* line 528, ../sass/style.scss */
#main .pagination li {
  counter-increment: pagination;
}
/* line 530, ../sass/style.scss */
#main .pagination li a {
  color: #000000;
  background-color: transparent;
  border: none;
}
/* line 534, ../sass/style.scss */
#main .pagination li a.page-link {
  padding: 0.5rem 0.65rem 0.4rem;
  line-height: 1.05;
}
/* line 538, ../sass/style.scss */
#main .pagination li a:after {
  content: " " counter(pagination) " ";
}
/* line 543, ../sass/style.scss */
#main .pagination li:hover a {
  color: #11538C;
  background-color: transparent;
}
/* line 549, ../sass/style.scss */
#main .pagination li.active a {
  color: #fff;
  background-color: #3E8ACA;
}
/* line 554, ../sass/style.scss */
#main .pagination li:first-child {
  margin-right: 10px;
}
/* line 556, ../sass/style.scss */
#main .pagination li:first-child a {
  display: inline-block;
  padding-top: 0.25rem;
}
/* line 560, ../sass/style.scss */
#main .pagination li:first-child a:after {
  content: "«";
  font-size: 1.25rem;
}
/* line 565, ../sass/style.scss */
#main .pagination li:last-child {
  margin-left: 10px;
}
/* line 567, ../sass/style.scss */
#main .pagination li:last-child a {
  display: inline-block;
  padding-top: 0.25rem;
}
/* line 571, ../sass/style.scss */
#main .pagination li:last-child a:after {
  content: "»";
  font-size: 1.25rem;
}
/* line 576, ../sass/style.scss */
#main .pagination li:nth-child(2) {
  counter-reset: pagination;
}
/* line 579, ../sass/style.scss */
#main .pagination li:nth-last-child(2) {
  display: inline-block;
}
/* line 581, ../sass/style.scss */
#main .pagination li:nth-last-child(2):after {
  padding: 0 1rem;
  content: "...";
}
/* line 585, ../sass/style.scss */
#main .pagination li:nth-last-child(2) a {
  display: inline-block;
}
/* line 591, ../sass/style.scss */
#main .italic {
  font-style: italic;
}

/* line 596, ../sass/style.scss */
#footer {
  position: relative;
}
/* line 598, ../sass/style.scss */
#footer .yellow {
  display: inline-block;
  width: 100%;
  padding-bottom: 34px;
  background-color: #FFEC44;
}
/* line 603, ../sass/style.scss */
#footer .yellow .gototop {
  padding: 15px 0;
  float: right;
}
/* line 606, ../sass/style.scss */
#footer .yellow .gototop a {
  color: #11538C;
  font-weight: bold;
  font-size: 0.875rem;
}
/* line 610, ../sass/style.scss */
#footer .yellow .gototop a .iconify {
  font-size: 20px;
  margin-left: 25px;
}
/* line 617, ../sass/style.scss */
#footer .block {
  position: relative;
  padding: 0 100px;
}
/* line 620, ../sass/style.scss */
#footer .block.block-blue {
  top: -40px;
}
/* line 623, ../sass/style.scss */
#footer .block.block-white {
  top: -20px;
}
/* line 626, ../sass/style.scss */
#footer .block .blue {
  padding: 16px 0;
  margin: 0 auto;
  background-color: #11538C;
}
/* line 630, ../sass/style.scss */
#footer .block .blue a {
  color: #fff;
}
/* line 633, ../sass/style.scss */
#footer .block .blue a .iconify.mail {
  margin-right: 15px;
  font-size: 25px;
}
/* line 637, ../sass/style.scss */
#footer .block .blue a .iconify.map {
  margin-right: 12px;
  font-size: 30px;
}
/* line 645, ../sass/style.scss */
#footer .block .white ul {
  padding: 0;
  margin: 0;
}
/* line 648, ../sass/style.scss */
#footer .block .white ul li {
  list-style: none;
}
/* line 651, ../sass/style.scss */
#footer .block .white ul.contacts {
  padding: 0;
  margin: 0;
}
/* line 654, ../sass/style.scss */
#footer .block .white ul.contacts li {
  display: inline-block;
  padding: 0 30px;
  border-right: 1px solid #FFEC44;
}
/* line 658, ../sass/style.scss */
#footer .block .white ul.contacts li a {
  padding: 11px 0;
  color: #454545;
  font-size: .875rem;
}
/* line 662, ../sass/style.scss */
#footer .block .white ul.contacts li a span {
  display: block;
  font-weight: bold;
}
/* line 667, ../sass/style.scss */
#footer .block .white ul.contacts li:first-of-type {
  padding-left: 0;
}
/* line 672, ../sass/style.scss */
#footer .block .white ul.info {
  width: 100%;
  padding-top: 5px;
}
/* line 677, ../sass/style.scss */
#footer .block .white ul.info li.social li {
  display: inline-block;
  width: 40px;
  text-align: center;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 682, ../sass/style.scss */
#footer .block .white ul.info li.social li:not(:first-of-type) {
  margin-left: 25px;
}
/* line 686, ../sass/style.scss */
#footer .block .white ul.info li.social li a img {
  width: 100%;
}
/* line 689, ../sass/style.scss */
#footer .block .white ul.info li.social li a:hover {
  opacity: 0.8;
}
/* line 694, ../sass/style.scss */
#footer .block .white ul.info li.social:hover {
  background-color: transparent;
}
/* line 696, ../sass/style.scss */
#footer .block .white ul.info li.social:hover li {
  background-color: transparent;
}
/* line 701, ../sass/style.scss */
#footer .block .white ul.info li.copyright {
  text-align: right;
  font-size: 0.75rem;
}
@media screen and (max-width: 1024px) {
  /* line 711, ../sass/style.scss */
  #footer .block {
    padding: 0 30px;
  }
}
@media screen and (min-width: 992px) {
  /* line 716, ../sass/style.scss */
  #footer p.copyright {
    display: none;
  }
}
@media screen and (max-width: 991px) and (min-width: 768px) {
  /* line 721, ../sass/style.scss */
  #footer .yellow {
    padding-bottom: 0;
  }
  /* line 723, ../sass/style.scss */
  #footer .yellow .gototop {
    padding: 8px 0;
  }
  /* line 728, ../sass/style.scss */
  #footer .block.block-blue, #footer .block.block-white {
    top: -7px;
  }
  /* line 731, ../sass/style.scss */
  #footer .block .blue {
    padding: 10px 0;
  }
  /* line 733, ../sass/style.scss */
  #footer .block .blue a {
    font-size: 0.875rem;
  }
}
@media screen and (max-width: 991px) {
  /* line 741, ../sass/style.scss */
  #footer .block .white {
    background-color: #3E8ACA;
  }
  /* line 743, ../sass/style.scss */
  #footer .block .white ul.contacts {
    padding: 10px 0;
  }
  /* line 745, ../sass/style.scss */
  #footer .block .white ul.contacts li {
    border: none;
  }
  /* line 747, ../sass/style.scss */
  #footer .block .white ul.contacts li a {
    color: #fff;
  }
  /* line 749, ../sass/style.scss */
  #footer .block .white ul.contacts li a span {
    display: inline-block;
    padding-right: 15px;
  }
  /* line 758, ../sass/style.scss */
  #footer .copyright {
    margin-bottom: 8px;
    font-size: 0.75rem;
    text-align: center;
  }
}
@media screen and (max-width: 767px) {
  /* line 596, ../sass/style.scss */
  #footer {
    padding-bottom: 50px;
  }
  /* line 766, ../sass/style.scss */
  #footer .yellow {
    display: none;
  }
  /* line 769, ../sass/style.scss */
  #footer .block {
    padding: 0 15px;
  }
  /* line 771, ../sass/style.scss */
  #footer .block.block-blue, #footer .block.block-white {
    top: 0;
  }
  /* line 774, ../sass/style.scss */
  #footer .block .blue {
    padding: 0;
  }
  /* line 776, ../sass/style.scss */
  #footer .block .blue a {
    display: block;
    padding: 10px 0;
    font-size: 0.875rem;
  }
  /* line 781, ../sass/style.scss */
  #footer .block .blue a .iconify.mail {
    font-size: 18px;
  }
  /* line 784, ../sass/style.scss */
  #footer .block .blue a .iconify.map {
    font-size: 22px;
  }
  /* line 792, ../sass/style.scss */
  #footer .block .white ul.contacts li {
    position: relative;
    padding: 0 8px;
  }
  /* line 796, ../sass/style.scss */
  #footer .block .white ul.contacts li a span {
    display: none;
  }
  /* line 801, ../sass/style.scss */
  #footer .block .white ul.contacts li:first-of-type:before {
    content: "Tel";
    display: inline-block;
    padding-right: 15px;
    font-size: 0.875rem;
    color: #fff;
  }
  /* line 809, ../sass/style.scss */
  #footer .block .white ul.contacts li.fax {
    display: none;
  }
  /* line 816, ../sass/style.scss */
  #footer .copyright {
    margin-top: 8px;
    margin-bottom: 0;
  }
}
@media screen and (max-width: 576px) {
  /* line 822, ../sass/style.scss */
  #footer .block {
    padding: 0;
  }
}

/* line 828, ../sass/style.scss */
#banner {
  position: relative;
  display: block;
  height: 250px;
  background-position: right center;
  background-size: 100%;
  background-repeat: no-repeat;
  z-index: 1;
}
/* line 836, ../sass/style.scss */
#banner:before {
  position: absolute;
  display: inline-block;
  content: "";
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to right, #3e8aca 41%, rgba(62, 138, 202, 0.75) 63%, rgba(62, 138, 202, 0.5) 88%, #ffffff 100%);
  z-index: -1;
}
/* line 849, ../sass/style.scss */
#banner .container {
  height: 100%;
}
/* line 851, ../sass/style.scss */
#banner .container .caption {
  position: absolute;
  top: 50%;
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 855, ../sass/style.scss */
#banner .container .caption .text {
  display: block;
  margin-bottom: 0;
  color: #fff;
  text-transform: capitalize;
}
/* line 862, ../sass/style.scss */
#banner .container .caption h2.text {
  color: #FFEC44;
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  /* line 828, ../sass/style.scss */
  #banner {
    height: 200px;
  }
}
@media screen and (max-width: 767px) {
  /* line 828, ../sass/style.scss */
  #banner {
    height: 150px;
    background-position: center 55%;
    background-size: 400%;
  }
  /* line 876, ../sass/style.scss */
  #banner:before {
    background: linear-gradient(to right, #3e8aca 0%, rgba(62, 138, 202, 0.75) 63%);
  }
  /* line 879, ../sass/style.scss */
  #banner .caption {
    left: 45px;
  }
  /* line 881, ../sass/style.scss */
  #banner .caption h2 {
    font-size: 1.75rem;
  }
  /* line 884, ../sass/style.scss */
  #banner .caption h4 {
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 768px) {
  /* line 892, ../sass/style.scss */
  #in-btn {
    position: fixed;
    display: block;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 66;
    -moz-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
  }
  /* line 900, ../sass/style.scss */
  #in-btn .btn-primary {
    padding: 5px 8px;
    text-align: center;
    color: #11538C;
    font-weight: bold;
    font-size: 1.125rem;
    line-height: 1.2;
    -moz-transition: all 0.35s ease;
    -o-transition: all 0.35s ease;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
  }
  /* line 908, ../sass/style.scss */
  #in-btn .btn-primary img, #in-btn .btn-primary span {
    display: block;
    margin: 0 auto;
  }
  /* line 913, ../sass/style.scss */
  #in-btn .btn-primary span.text {
    margin: 8px auto 3px;
    letter-spacing: 0;
  }
  /* line 917, ../sass/style.scss */
  #in-btn .btn-primary span.quantity {
    font-size: 0.85rem;
    font-weight: normal;
  }
  /* line 922, ../sass/style.scss */
  #in-btn .btn-primary:active {
    background-color: transparent;
  }

  /* line 927, ../sass/style.scss */
  #mob-btn {
    display: none;
  }
}
@media screen and (max-width: 767px) {
  /* line 932, ../sass/style.scss */
  #in-btn {
    display: none;
  }

  /* line 935, ../sass/style.scss */
  #mob-btn {
    display: block;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 66;
  }
  /* line 941, ../sass/style.scss */
  #mob-btn .act-btns {
    padding: 0;
    margin: 0;
  }
  /* line 944, ../sass/style.scss */
  #mob-btn .act-btns li {
    display: inline-block;
    width: 33%;
  }
  /* line 947, ../sass/style.scss */
  #mob-btn .act-btns li a {
    display: block;
    width: 100%;
    padding: 9px;
    font-weight: bold;
    color: #11538C;
  }
  /* line 953, ../sass/style.scss */
  #mob-btn .act-btns li a .iconify {
    display: inline-block;
  }
  /* line 956, ../sass/style.scss */
  #mob-btn .act-btns li a img, #mob-btn .act-btns li a .iconify {
    width: 21px;
    margin-right: 10px;
  }
}
@media screen and (max-width: 320px) {
  /* line 969, ../sass/style.scss */
  #mob-btn .act-btns li a {
    padding: 9px 5px;
  }
  /* line 971, ../sass/style.scss */
  #mob-btn .act-btns li a img, #mob-btn .act-btns li a .iconify {
    width: 1rem;
    margin-right: 6px;
  }
}
/* line 980, ../sass/style.scss */
.slick-prev, .slick-next {
  width: 55px;
  height: 55px;
  z-index: 29;
}
/* line 984, ../sass/style.scss */
.slick-prev:before, .slick-next:before {
  color: #3E8ACA;
}

@media screen and (min-width: 1200px) {
  /* line 989, ../sass/style.scss */
  .mfp-arrow-left {
    left: 15%;
  }

  /* line 992, ../sass/style.scss */
  .mfp-arrow-right {
    right: 15%;
  }
}
/* line 6, ../sass/pro-series.scss */
#pro-series .card {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
}
/* line 9, ../sass/pro-series.scss */
#pro-series .card .card-body {
  padding: 0.75rem;
  background-color: #3E8ACA;
}
/* line 12, ../sass/pro-series.scss */
#pro-series .card .card-body .card-title {
  margin-bottom: 0;
  text-align: center;
  color: #fff;
}
/* line 18, ../sass/pro-series.scss */
#pro-series .card .list-group {
  padding: 0 25px 30px;
  background-color: #f8f8f8;
}
/* line 21, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item {
  position: relative;
  padding: 10px 5px;
  background-color: transparent;
  border: none;
  border-bottom: 1px dashed #000000;
  border-radius: 0 !important;
}
/* line 28, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a {
  color: #000000;
  font-weight: bold;
}
/* line 31, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a:hover, #pro-series .card .list-group .list-group-item a:active, #pro-series .card .list-group .list-group-item a:focus {
  color: #3E8ACA;
  letter-spacing: 0.125rem;
}
/* line 35, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item a .iconify {
  margin-left: 8px;
  font-size: 1.25rem;
}
/* line 41, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group-item.active a {
  color: #3E8ACA;
  font-size: 1.15rem;
}
/* line 47, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group {
  padding: 10px 10px 0;
}
/* line 49, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item {
  padding: 0.25rem 0;
  background-color: transparent;
  border: none;
}
/* line 53, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item a {
  color: #000000;
  font-size: 1rem;
}
/* line 58, ../sass/pro-series.scss */
#pro-series .card .list-group .list-group .list-group-item.active a {
  color: #3E8ACA;
  font-size: 1.05rem;
}
@media screen and (min-width: 992px) {
  /* line 68, ../sass/pro-series.scss */
  #pro-series .dropdown {
    display: none;
  }
}
@media screen and (max-width: 991px) {
  /* line 73, ../sass/pro-series.scss */
  #pro-series .card {
    display: none;
  }
  /* line 76, ../sass/pro-series.scss */
  #pro-series .dropdown {
    width: 100%;
    margin-bottom: 12px;
  }
  /* line 79, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary {
    width: 100%;
    background-color: #11538C;
    border-color: transparent;
    color: #fff;
    font-weight: bolder;
    font-size: 1.25rem;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
  }
  /* line 87, ../sass/pro-series.scss */
  #pro-series .dropdown .btn-secondary:hover, #pro-series .dropdown .btn-secondary:focus, #pro-series .dropdown .btn-secondary:active {
    background-color: #3E8ACA;
    border-color: transparent;
    color: #FFEC44;
  }
  /* line 93, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu {
    width: 100%;
  }
  /* line 95, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item {
    color: #11538C;
    -moz-transition: ease-in 0.05s;
    -o-transition: ease-in 0.05s;
    -webkit-transition: ease-in 0.05s;
    transition: ease-in 0.05s;
  }
  /* line 98, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu .dropdown-item:hover, #pro-series .dropdown .dropdown-menu .dropdown-item:focus, #pro-series .dropdown .dropdown-menu .dropdown-item:active {
    color: #fff;
    background-color: #3E8ACA;
  }
  /* line 103, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul {
    padding-left: 25px;
  }
  /* line 105, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li {
    list-style: none;
  }
  /* line 107, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a {
    position: relative;
  }
  /* line 109, ../sass/pro-series.scss */
  #pro-series .dropdown .dropdown-menu ul li a:before {
    content: "-";
    display: inline-block;
    position: absolute;
    left: 0;
  }
}

/* line 3, ../sass/text.scss */
#about {
  position: relative;
  height: 100%;
  padding: 100px 0;
  overflow: hidden;
  z-index: 1;
}
/* line 9, ../sass/text.scss */
#about .gear {
  position: absolute;
  background: url(../images/bg/gear.svg) no-repeat;
  background-size: cover;
  opacity: 0.06;
  z-index: -2;
}
/* line 15, ../sass/text.scss */
#about .gear.left {
  top: -12%;
  right: -7%;
  background-position: right top;
}
/* line 20, ../sass/text.scss */
#about .gear.right {
  bottom: 3%;
  left: -5%;
  background-position: left bottom;
}
@media screen and (max-width: 991px) {
  /* line 27, ../sass/text.scss */
  #about .gear {
    width: 200px;
    height: 200px;
  }
}
@media screen and (min-width: 992px) {
  /* line 33, ../sass/text.scss */
  #about .gear {
    width: 300px;
    height: 300px;
  }
}
@media screen and (min-width: 1200px) {
  /* line 39, ../sass/text.scss */
  #about .gear {
    width: 400px;
    height: 400px;
  }
}
/* line 44, ../sass/text.scss */
#about .text {
  position: relative;
  display: block;
  border: 1px solid rgba(17, 83, 140, 0.6);
  background-color: #fff;
  padding: 30px;
}
